<!-- index.ejs for report view -->
<div layout="column" layout-align="center" ng-controller="reportIndexCtrl">
    <div layout="row" layout-align="center">
        <md-button>live</md-button>
        <md-button>attendance</md-button>
        <md-button>breaks</md-button>
        <md-button>todo(s)</md-button>
    </div>
    <div layout="row">
        Filter(s)
    </div>
    <div layout="column">
        <table>
            <thead>
                <tr>
                    <th>date</th>
                    <th>login time</th>
                    <th>logout time</th>
                    <th>total login time</th>
                    <th>total break time</th>
                    <th>effective login time</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
